<template name="displayConfig">
    <tr>
        {{#if isEdited}}
            <td><i class="icon icon-remove-circle fieldremove"></i></td>
            <td>
                <input type="text" value="{{name}}" class="input input-mini fieldname"/>
            </td>
            <td>
                <input type="text" value="{{place}}" class="input input-medium fieldart"/>
            </td>
            <td><input type="text" value="{{desc}}" class="input input-xlarge fielddesc"/> </td>
        {{else}}
            <td><i class="icon icon-remove-circle fieldremove"></i></td>
            <td><i class="icon icon-lock"></i>{{name}}</td>
            <td><i class="icon icon-lock"></i>{{place}}</td>
            <td><i class="icon icon-lock"></i>{{desc}}</td>
        {{/if}}
    </tr>
</template>