<template name="svgTut4">
    <svg xmlns="http://www.w3.org/2000/svg" width="1280" height="800">


        <path d="M 100,350 300,100 500,350 z M 250,320 250,220 350,220 350,320 z" fill="#ff8" stroke="black" stroke-width="15" fill-rule="evenodd"/>

        <path d="M 100 200 Q 200, 400 300, 200" fill="none" stroke="blue"/>
        <path d="M 100 200 L 200, 400 300, 200" fill="none" stroke="red"/>


        <path fill-rule="evenodd"
              d="M 70 140 L 150,0 200,100 L 40, 100 100,0 L 170,140 70,140"/>

        <path fill-rule="evenodd"
               fill="red"
              d="M 70 140 Q 150,0 200,100 Q 40, 100 100,0 Q 170,140 70,140"/>

    </svg>

</template>