<template name="svgTut1">
    <svg xmlns="http://www.w3.org/2000/svg" width="1280" height="400">
        <circle
                r="20%"
                cx="30%"
                cy="50%"
                fill="lightgreen"
                stroke="darkorange"
                stroke-width="15"
                />
        <circle
                r="20%"
                cx="50%"
                cy="50%"
                fill="none"
                stroke="darkorange"
                stroke-width="15"
                />
        <path d="M 10 150 C 200 80 350 300 450 100" id="B" stroke="black" fill="none" stroke-width="4"/>
        <title>Collage</title>

        <line x2="300" y2="100" stroke="green" stroke-width="10" stroke-linecap="round"/>

        <rect x="50" y="50" width="300" height="170" rx="90" ry="50" stroke="darkseagreen" stroke-width="10" fill="lightgray" fill-opacity="0.6"/>

        <circle
                cx="690" cy="150" r="100"
                stroke="darkseagreen" stroke-width="10" fill="grey" fill-opacity="0.6"
                />

        <ellipse cx="110" cy="355" rx="70" ry="35"
                 stroke="darkseagreen" stroke-width="0.8" fill="lightgray" fill-opacity="0.6"
                />


        <polyline points="200,60 240,230 310,230 350,60"
                  fill="lightcyan" fill-opacity="0.7"
                  stroke="darkviolet" stroke-linecap="round" stroke-width="25" stroke-opacity="0.2"
                />

    </svg>

</template>