<template name="navigation">

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="/">IntelliSwitch</a>
            <ul class="nav">
                <li class="{{active_main}}"><a href="{{pathFor 'home'}}">Home</a> </li>
                <li><a href="{{pathFor 'show'}}">Шоу</a> </li>
                <li><a href="{{pathFor 'project'}}">Конфигурация</a> </li>
                <li><a href="{{pathFor 'setup'}}">Настройка</a> </li>
            </ul>
        </div>
    </div>

</template>