.schema {
    height: 1009px;
    background-color: #112233;
    color: #d8bb30;
}

.main-menu{
    /*background-color: #2023ff;*/
    height: 900px;
    margin-top: 10px;
}

.menu-item {
    background-color: #22602c;
    color: #f5f5f5;
    border-radius: 3px;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.menu-item:hover {
    text-decoration: none;
    background: rgba(41, 129, 40, 0.90);
}

.menu-item-selected {
    background: rgba(216, 187, 48, 0.90);
    color: #000000;
}

.menu-item-selected:hover {
    background: rgba(216, 187, 48, 0.90);
    color: #000000;
}



.add-new-class {
    background-color: #0000ff;
    color: #f5f5f5;
    border-radius: 3px;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.add-new-class:hover {
    text-decoration: none;
    background: rgba(0, 0, 255, 0.50);
}

.assign-class, .unassigned-class{
    background-color: #0000ff;
    color: #f5f5f5;
    border-radius: 3px;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.assign-class:hover, .unassigned-class:hover {
    text-decoration: none;
    background: rgba(0, 0, 255, 0.50);
}


