<template name="sixteenDMXControl">
    <h2>Shit!</h2>

    <table class="table">
        <tr>
            <td>Канал 1</td>
            <td>Канал 2</td>
            <td>Канал 3</td>
            <td>Канал 4</td>
            <td>Канал 5</td>
            <td>Канал 6</td>
            <td>Канал 7</td>
            <td>Канал 8</td>
        </tr>
        <tr>
            <td>Слайдер 1</td>
            <td>Слайдер 2</td>
            <td>Слайдер 3</td>
            <td>Слайдер 4</td>
            <td>Слайдер 5</td>
            <td>Слайдер 6</td>
            <td>Слайдер 7</td>
            <td>Слайдер 8</td>
        </tr>
        <tr>
            <td><a href="/" class="btn btn-large btn-primary text-center">1</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">2</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">3</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">4</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">5</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">6</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">7</a> </td>
            <td><a href="/" class="btn btn-large btn-primary text-center">8</a> </td>
        </tr>
    </table>

</template>